In [2]:
L = [0 for i in range(5)]
print(L)

[0, 0, 0, 0, 0]

In [3]:
L = [i for i in range(5)]
print(L)

[0, 1, 2, 3, 4]

In [4]:
L = [i+3 for i in range(5)]
print(L)

[3, 4, 5, 6, 7]

In [6]:
A = [20,30,40,50,60]
M = [a +10 for a in A]
print(M)

[30, 40, 50, 60, 70]

In [7]:
L = [i for i in range(10) if i >5]
print(L)

[6, 7, 8, 9]

In [8]:
Names = ["Mary","John"]
Pays = [5000,6000]
High_Pays = [names for i, names in enumerate(Names) if Pays[i] >5000 ]
print(High_Pays)

['John']

In [13]:
Names=["John","Mary","Lucy","David","Hellen"]
Sex=[True,False,True,False,True]
Pays=[35000,25000,61000,32000,25000]
M= []
#M = [ "Mr." + names for i, names in enumerate(Names) if Pays[i] < 8000 and Sex[i] == True]
for i,names in enumerate(Names):
    if  Pays[i] < 40000 and Sex[i] == True:
        M.append("Mr." + names)
    elif  Pays[i] < 40000 and Sex[i] == False:
        M.append("Ms." + names)
print(M)

['Mr.John', 'Ms.Mary', 'Ms.David', 'Mr.Hellen']

In [15]:
Names=["John","Mary","Lucy","David","Hellen"]
Sex=[True,False,True,False,True]
Pays=[35000,25000,61000,32000,25000]
MrMs = ["Ms","Mr"]
M = [MrMs[Sex[i]] + " " + name for i,name in enumerate(Names) if Pays[i] < 40000] 

print(M)

['Mr John', 'Ms Mary', 'Ms David', 'Mr Hellen']

In [31]:
A = [[0 for i in range(5)] for i in range(3)]
B = [[i for i in range(1,4)] for i in range(3)]
C = [[i for i in range(3,0,-1)] for i in range(3)]
D = [[(i+j)%3 +1  for i in range(3)] for j in range(3)]
print(A)
print(B)
print(C)
print(D)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[[3, 2, 1], [3, 2, 1], [3, 2, 1]]
[[1, 2, 3], [2, 3, 1], [3, 1, 2]]

In [34]:

L = [[int(i==j) for j in range(5)]for i in range(5)]
print(L)

[[1, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 1, 0, 0], [0, 0, 0, 1, 0], [0, 0, 0, 0, 1]]

In [36]:
A = [20,30,40,50]
for i in range(1,len(A)+1):
    print(A[-1*i])

50
40
30
20

In [68]:
A = [40,30,40]
A.sort()
print(A)
print(max(A))
print(sum(A))
print(sum(A[:2]))
print(A.index(30))

[30, 40, 40]
40
110
70
0

In [53]:
A = ["John"]
k = a.count("John")
print(k)

1

In [65]:
A = ["eddie"]
A[0] =A[0].upper()
print(A[0])
A[0] =A[0].lower()
print(A[0])

EDDIE
eddie

In [72]:
L = [30,20,10,40]
del(L[2])
print(L)
L.remove(20)
print(L)

[30, 20, 40]
[30, 40]

In [75]:
A = "Hi! How are you? Today is a good day."
Y = ["!",",","."]
A = [a for a in A if a not in Y]
print(A)
A = "".join(A)
print(A)

['H', 'i', ' ', 'H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?', ' ', 'T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'a', ' ', 'g', 'o', 'o', 'd', ' ', 'd', 'a', 'y']
Hi How are you? Today is a good day

In [76]:
S = "Oh! my god! today is not my day."
==> ["Oh","My god","Today is not my day"]
==> [["Oh"],["My","god"],["Today", "is", "not", "my", "day"]]

"Oh! my god! today is not my day."
(1) 去除 !, .
(2) 開頭放大寫
(3) list 中，每個元素都是一句話
(4) 將每個list元素中的一句話，再進行二維list生成
==> ["Oh","My god","Today is not my day"]
==> [[Oh],["My","god"],["Today","is","not","my","day"]]

SyntaxError: invalid syntax (Temp/ipykernel_24068/2258910825.py, line 2)

In [87]:
S = "Oh! my god! today is not my day."
S = S.replace(".","")
print(S)
S = S.split("!")
print(S)
for i,s in enumerate(S):
    S[i] = s.strip()
    S[i] = S[i][0].upper() +S[i][1:]
print("第一題: ",S)
S = [[S[i]] for i in range(len(S))]
print("第二題: ",S)

Oh! my god! today is not my day
['Oh', ' my god', ' today is not my day']
第一題:  ['Oh', 'My god', 'Today is not my day']
第二題:  [['Oh'], ['My god'], ['Today is not my day']]